<div id="vmPg" class="container">
    <div class="row">
        <h1 class="pageSubTitle">{{selectedExercise.name}}- VM List</h1>
    </div>

    <div cg-busy="myPromise"></div>

    <div>
        <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped">
            <tr ng-repeat="evs in $data" ng-controller="VmStatusCtrl" class="ng-cloak icon icon-refresh icon-spin">
                <td data-title="'Name'" style="width:15%" header-class="text-left">
                    <ul class="list-unstyled">
                        <!--<span ng-hide="finishLoading">-->
                            <!--<img src="assets/img/spinner.gif"/>-->
                        <!--</span>-->
                        <loading-spinner></loading-spinner>
                        <li ng-repeat="vm in vmList">
                            <span ng-bind="vm.name"></span>
                        </li>
                        </ul>

                    </ul>
                </td>
                <td data-title="'Computer Name'" style="width:18%" header-class="text-left">
                    <ul class="list-unstyled">
                        <li ng-repeat="vm in vmList">
                            {{vm.computerName}}
                        </li>
                    </ul>
                </td>
                <td data-title="'Running Status'" style="text-align:right; width:12%" header-class="text-left">
                    <ul class="list-unstyled">
                        <li ng-repeat="vm in vmList">
                            <div id="block_container">
                                <div ng-if="vm.runningStatus=='POWERED_ON'" class="block">
                                    <div id="greenBox">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </div>
                                <div ng-if="vm.runningStatus=='POWERED_OFF'" class="block">
                                    <div id="redBox">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </div>
                                <div ng-if="vm.runningStatus=='SUSPENDED'" class="block">
                                    <div id="yellowBox">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                </div>
                                <div class="block">{{runningStatus(vm.runningStatus)}}</div>
                            </div>

                        </li>
                    </ul>
                </td>
                <td data-title="'CPU'" style="width:5%; text-align:center">
                    <ul class="list-unstyled">
                        <li ng-repeat="vm in vmList">
                            {{vm.cpu}}
                        </li>
                    </ul>
                </td>
                <td data-title="'Memory'" style="width:10%; text-align:center">
                    <ul class="list-unstyled">
                        <li ng-repeat="vm in vmList">
                            {{vm.memory}}
                        </li>
                    </ul>
                </td>
                <td data-title="'Disk Name'" style="width:20%" header-class="text-left">
                    <ul class="list-unstyled">
                        <li ng-repeat="vm in vmList">
                            <ul class="list-unstyled">
                                <li ng-repeat="disk in vm.hardDisks">
                                    {{disk.diskName}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td data-title="'Disk Size'" style="width:10%; text-align:center">
                    <ul class="list-unstyled">
                        <li ng-repeat="vm in vmList">
                            <ul class="list-unstyled">
                                <li ng-repeat="disk in vm.hardDisks">
                                    {{disk.diskSize}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td data-title="'VLAN(s)'" style="text-align:center; width:10%">
                    <ul class="list-unstyled">
                        <li ng-repeat="vm in vmList">
                            {{vm.networks.length}}
                        </li>
                    </ul>
                </td>

                <!--            <td>
                                {{vm.cpu_usage}}%
                                <progressbar value="vm.cpu_usage" type={{getType(vm.cpu_usage)}}></progressbar>
                            </td>-->
            </tr>
        </table>
    </div>

    <script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
            <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
            </li>
            <li>
                <div class="btn-group">
                    <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)"
                            class="btn btn-default">10
                    </button>
                    <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)"
                            class="btn btn-default">25
                    </button>
                    <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)"
                            class="btn btn-default">50
                    </button>
                    <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)"
                            class="btn btn-default">100
                    </button>
                </div>
            </li>
        </ul>
    </script>
</div>
